@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
  flex-direction: column;
  align-items: center;
border: 3px solid blueviolet;
}
.whole-part{
    width: 877px;
    border: 3px solid brown;
    background-color: rgba(58, 55, 51, 0.096);
    margin-top: 20px;
    border-radius: 15px;

}


.top-players{
   

}
.section-title{
color: blue;
}
.players{ 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 15px;
}
.player {
    display: flex;

}
.player img{
    width: 57px;
    height: 57px;
    border-radius: 10px;
}
.player img:hover{
    
    transition: transform 2s ease-in-out ;
    transform: skew(30deg) rotate(60deg);
}
.player-name{
margin-left: 15px;
}
.player-name:hover{
    font-size: -1em;
    color: dimgrey;
}
hr{
    margin-top: 20px;
    color: gray;
}
.top-blogs{

}
.blogs{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 15px;
grid-row-gap: 20px;
}
.blog{
display: flex;
align-items: center;

}
.blog-details{
    margin-left: 15px;
    
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-title{

}
.author a{text-decoration: none;
    color: rgb(140, 171, 238);

}


/* latest course */

.latest-course{

}
.courses{ display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.course{
   
   
}
.course img{
    width: 224px;
    height: 104px;
}
.course-details{

}
.course-info{

}
.course-link{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.link-img img{
   background-color: rgba(255, 255, 0, 0.39);
    width: 30px;
    height: 30px;
    border-radius: 100%;
   
}
.link a{
    text-decoration: none;
color: black;
}
.link a:hover{
    background-color: rgba(0, 139, 139, 0.568);
    padding: 5px;
    border-radius: 10px;

}
